[submodule "vim/host-linux/.vim/bundle/nerdtree"]
	path = vim/host-linux/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/host-linux/.vim/bundle/ale"]
	path = vim/host-linux/.vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/host-linux/.vim/bundle/vim-go"]
	path = vim/host-linux/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/host-linux/.vim/bundle/awesome-vim-colorschemes"]
	path = vim/host-linux/.vim/bundle/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes.git
[submodule "vim/host-linux/.vim/bundle/vim-sensible"]
	path = vim/host-linux/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
